<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="KoneksiMatrix2" connectionString="Data Source=localhost;Initial Catalog=Ado_Net; Integrated Security=SSPI; User ID=SA;Password=sql" providerName="System.Data.OleDb"/>
    <add name="KoneksiMatrix1" connectionString="Data Source=localhost;Initial Catalog=Matrix_Mall; Integrated Security=SSPI; User ID=SA;Password=sql" providerName="System.Data.SqlClient"/>
    <add name="KoneksiMatrix0" connectionString="Data Source=localhost;Initial Catalog=Ado_Net; Integrated Security=SSPI; User ID=SA;Password=sql" providerName="System.Data.ODBCClient"/>
  </connectionStrings>

  <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
